body, html #app {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    background: white;
    font-family: sans-serif;
}

//Navbar
$select-color: orange;

ul {
    padding: 0px;
}

#navList {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navItem {
    margin: 3px, 10px, 3px, 10px;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.clearButton {
    background: transparent;
    border: none;
}

.navLink {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.spaceAround {
    justify-content: space-around;
}

.header-lg {
    font-size: 35px;
    font-weight: 300;
    margin: 28px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.centerText {
    text-align: center;
}

.link {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.card-list {
    margin: 20px 0;
    font-size: 20px;
}

.card-list li {
    display: flex;
    align-items: center;
    margin: 10px;
}

.card-list svg {
    margin-right: 10px;
}

.card-list a {
    font-weight: 500;
    color: inherit;
}

.bg-light {
    background: rgba(0, 0, 0, 0.09);
    border-radius: 3px;
}

.repo {
    margin: 10px 0;
    width: 250px;
    padding: 20px;
}

.repo a {
    text-decoration: none;
}

.repo img {
    margin-bottom: 8px;
}

